<!-- carregando arquivos -->
{% extends 'base.html' %}
{% load static %}

<!-- title -->
{% block title %}
<title>Detalhes | Integrifolio</title>
{% endblock title %}

<!-- CSS -->
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/detalhes.css'%}">
{% endblock stylesheet %}

<!-- nav indicator -->
{% block active-detalhes %}
is-active
{% endblock active-detalhes %}

{% block conteudo %}
<main>

  <!-- Section principal-->
  <section class="Section-01">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="texto-section-principal">

        <h1>Detalhes de Projeto</h1>
        <h2>{{projeto.nome_projeto}}</h2>
        <p>{{projeto.descricao}}</p>

      </div>

      <div class="div-foto-detalhe">

        <!-- <img class="banner-home" src="{% static 'img/img-detalhes.svg' %}" alt="Banner Home"> -->
        <img src="{{projeto.foto.url}}" class="rounded-circle image-projeto" alt="...">

        <div></div>
      </div>

    </div>
  </section>

  <!-- Section Secundaria -->
  <section class="bg-cinza Section-02">

    <div class="container d-flex align-items-center justify-content-between">

        <div>
            <h1>Detalhes</h1>
            <h2>Quais são:</h2>

            <div>
                <h3>
                    TURMA:<span class="bg-verde py-2 px-4 rounded-4 m-3">{{projeto.id_turma.nome_turma}}</span> 
                    NUMERO:<span class="bg-verde py-2 px-4 rounded-4 m-3">{{projeto.id_turma.numero_turma}}</span> 
                    ÍNICIO:<span class="bg-verde py-2 px-4 rounded-4 m-3">{{projeto.data_inicio}}</span>
                    TERMINO:<span class="bg-verde py-2 px-4 rounded-4 m-3">{{projeto.data_inicio}}</span>
                </h3>  
            </div>

            <!-- div dos cards -->
            <div>

                <h2>Material:</h2>

                <div class="d-flex justify-content-between arquivos-div">

                  <!-- card 01 -->
                  <a class="bg-verde rounded-5 card-material text-white" href="{{projeto.slide.url}}" target="_blank">

                    <img src="{% static 'img/slide-img.svg' %}" alt="">

                    <div class="div-link">
                      <p>Slide</p>
                      <p>Turma: {{projeto.id_turma.numero_turma}}</p>
                    </div>

                  </a>

                  <!-- card 02 -->
                  <a class="bg-verde rounded-5 card-material text-white" href="{{projeto.video.url}}" target="_blank">

                    <img src="{% static 'img/video-img.svg' %}" alt="">
                    
                    <div class="div-link">
                      <p>Video</p>
                      <p>Turma: {{projeto.id_turma.numero_turma}}</p>
                    </div>
                    
                  </a>

                  <!-- card 03 -->
                  <a class="bg-verde rounded-5 card-material text-white" href="{{projeto.texto}}" target="_blank">
                    
                    <img src="{% static 'img/arquivo-img.svg' %}" alt="">

                    <div class="div-link">
                      <p>Texto</p>
                      <p>Turma: {{projeto.id_turma.numero_turma}}</p>
                    </div>

                  </a>

                </div>
            </div>
        </div>
    </div>

  <!-- Section Terciaria -->
  </section>

  <section class="bg-cinza">

  </section>


</main>
{% endblock conteudo %}

{% block conteudoDestaque %}

{% endblock conteudoDestaque %}