<!-- carregando arquivos -->
{% extends 'base.html' %}
{% load static %}

<!-- title -->
{% block title %}
<title>Detalhes | Integrifolio</title>
{% endblock title %}

<!-- CSS -->
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/detalhes.css'%}">
{% endblock stylesheet %}

{% block conteudo %}

    <!-- Pegar texto do banco-->
    <h1>{{projeto.descricao}}</h1>
    <!-- Pegar Imagem do banco-->
    <img src="{{projeto.foto.url}}" alt="">
{% endblock conteudo %}

{% block conteudoDestaque %}

{% endblock conteudoDestaque %}