{% extends "base.html" %}

{% block conteudo %}

    {% regroup projetos|dictsort:"eixo" by eixo as eixo_list %}

    
    {% for eixo in eixo_list%}
        <h1>{{ eixo.grouper }}</h1>
        
        {% for projeto in eixo.list %}
            <a href="{% url 'Detalhes' id=projeto.id %}">{{projeto.id}}</a>
            <h2>{{ projeto.nome_projeto }}</h2>
            <img src="{{ projeto.foto_capa.url }}" alt="logo">
            <p>{{ projeto.descricao }} </p>
        {% endfor %}

    {% endfor %}
        

{% endblock conteudo %}