<!-- carregando arquivos -->
{% extends 'base.html' %}
{% load static %}

<!-- title -->
{% block title %}
  <title>Home | Integrifolio</title>
{% endblock title %}

<!-- CSS -->
{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/home.css'%}">
{% endblock stylesheet %}

{% block conteudo %}
  <main>
    <!-- Section principal-->
    <section>
      <div class="container d-flex align-items-center justify-content-between">

        <div class="texto-section-principal">

          <h1>Qualquer Coisa</h1>
          <p>Fazer o melhor<br>trabalho possivel<br>sempre foi parte do<br>nosso trabalho.</p>

        </div>

        <img class="banner-home" src="{% static 'img/banner_home.svg'%}" alt="Banner Home">

      </div>  
    </section>

    <!-- Section Sobre-->
    <section>
      <div class="container d-flex align-items-center justify-content-between">

          <div class="texto-section-sobre">
            <h1>Sobre</h1>

            <h2>Com pessoas</h2>

            <p>"Botânica (do grego botánē, que significa planta) é uma área da<br>
              Biologia voltada para o estudo das plantas. Tradicionalmente, outros<br>
              organismos são estudados em Botânica, tais como algas, fungos e<br>
              cianobactérias."</p>
            <a href="#"></a>
          </div>

      </div>
    </section>
  </main>
{% endblock conteudo %}