main {
    padding-top: 150px;
}


.texto-section-principal h1{
    font-weight: 600;
    font-size: 4.5rem;
    line-height: 47px;
}

.texto-section-principal h2{
    padding-top: 10%;
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 44px;
}

.texto-section-principal p{
    padding-top: 3%;
    padding-bottom: 10%;
    padding-right: 15%;
    font-weight: 500;
    font-size: 3rem;
    line-height: 34px;
}

.div-foto-detalhe {
    position: relative;
    width: 366px;
    height: 350px;
}
.div-foto-detalhe div {
    position: absolute;
    border: var(--verde-principal) 3px solid;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    top: -10px;
    left: -5px;
}

.Section-02 {
    padding: 75px;
}

.Section-02 h1 {
    font-weight: 800;
    font-size: 4.5rem;
    line-height: 44px;
}

.Section-02 h2 {
    font-weight: 800;
    font-size: 2.4rem;
    line-height: 44px;
}

.Section-02 h3 {
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 30px;
}

.image-projeto {
    width: 366px;
    height: 352px;
}

.arquivos-div img {
    height: 200px;
    width: 350px;
}

.div-link {
    background-color: var(--verde-principal);
    border-radius: 0 0 15px 15px;
    padding: 15px;

    font-family: 'Work Sans';
    font-weight: 800;
    font-size: 1.6rem;
    line-height: 140%;
    text-transform: capitalize;
}

.card-material {
    text-decoration: none;
    font-family: 'Work Sans';
    font-weight: 600;
}