.div-foto-detalhe {
    position: relative;
    width: 366px;
    height: 350px;
}
.div-foto-detalhe div {
    position: absolute;
    border: var(--verde-principal) 3px solid;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    top: -10px;
    left: -5px;
}
