main {
    padding-top: 150px;
}


.texto-section-principal h1{
    font-weight: 600;
    font-size: 4.5rem;
    line-height: 47px;
}

.texto-section-principal h2{
    padding-top: 10%;
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 44px;
}

.texto-section-principal p{
    padding-top: 3%;
    padding-bottom: 10%;
    padding-right: 15%;
    font-weight: 500;
    font-size: 3rem;
    line-height: 34px;
}

.div-foto-detalhe {
    position: relative;
    width: 366px;
    height: 350px;
}
.div-foto-detalhe div {
    position: absolute;
    border: var(--verde-principal) 3px solid;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    top: -10px;
    left: -5px;
}

.Section-02 {
    padding: 75px;
    padding-bottom: 300px;
    margin-bottom: -200px;
}

.Section-02 h1 {
    font-weight: 800;
    font-size: 4.5rem;
    line-height: 44px;
}

.Section-02 h2 {
    font-weight: 800;
    font-size: 2.4rem;
    line-height: 44px;
}

.Section-02 h3 {
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 30px;
}

.div-title-detalhes{
    position: relative;
}

.sp-01 {
    position: absolute;
    width: inherit;
    height: inherit;
    top: -1%;
    left: -10%;
}

/* Media query */
@media screen and (max-width: 1200px) {
    .sp-01 {
      left: -20%;
    }
}

.div-title-detalhes .sp-02 {
    position: absolute;
    width: inherit;
    height: inherit;
    top: -1%;
    left: 110%;
}

.image-projeto {
    width: 366px;
    height: 352px;
}

.arquivos-div {
    position: relative;
}

.arquivos-div img {
    height: 200px;
    width: 350px;
}

.arquivos-div .sp-03 {
    position: absolute;
    width: inherit;
    height: inherit;
    bottom: -125px;
    right: 50px;
}

.div-link {
    background-color: var(--verde-principal);
    border-radius: 0 0 15px 15px;
    padding: 15px;
}

.div-link .p1 {
    font-family: 'Work Sans';
    font-weight: 800;
    font-size: 1.6rem;
    line-height: 140%;
    text-transform: capitalize;
}

.div-link .p2 {
    font-weight: 400;
    font-size: 10px;
    line-height: 110%;
}

.card-material {
    text-decoration: none;
    font-family: 'Work Sans';
    font-weight: 600;
}
.destaque {
    background-color: var(--verde-principal);
    height: 60.5rem;
}