:root {
    --branco: #fff;
    --branco-gelo:  #F5F5F5;
    --verde-principal: #00D084;
    --verde-claro: rgba(0, 208, 132, 0.2);
    --cinza-claro: #EBEBEB;
    --cinza-medio: #455A64;
    --cinza-escuro: #292A2E;
    --texto-cinza-escuro: #455A64;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html, body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}


body {
    font-size: 1.6rem;
    background-color: var(--branco);
    color: var(--cinza-escuro);
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.btn-verde {
    font-size: 1.4rem;
    background-color: var(--verde-principal);
    color: var(--branco);
    font-family: 'Inder';
    box-shadow: 0px 3px 8px rgba(136, 144, 194, 0.25), 0px 7px 21px rgba(37, 44, 97, 0.2);
}

.btn-verde:hover {
    color: var(--branco);
    background-color: #15a570;
    transition-duration: 0.4s;
    transform: translateY(-4px);
}

.bg-cinza {
    background-color: var(--cinza-claro);
}

.bg-verde {
    background-color: var(--verde-claro);
}