:root {
    --branco: #fff;
    --preto: #000000;
    --branco-gelo:  #F5F5F5;
    --verde-principal: #00D084;
    --verde-claro: rgba(0, 208, 132, 0.2);
    --cinza-claro: #EBEBEB;
    --cinza-medio: #455A64;
    --cinza-escuro: #292A2E;
    --texto-cinza-escuro: #455A64;
    --blue:#5207F2;
    --red:#F23041;
    --brown:#A88A7E;
    --gray:#939393;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html, body {
    min-height: 100vh;
    font-family: 'Inconsolata';
    text-decoration: none;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}


body {
    font-size: 1.6rem;
    background-color: var(--branco);
    color: var(--cinza-escuro);
}

/* Botões */
button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.btn-verde {
    font-size: 1.4rem;
    background-color: var(--verde-principal);
    color: var(--branco);
    font-family: 'Inder';
    box-shadow: 0px 3px 8px rgba(136, 144, 194, 0.25), 0px 7px 21px rgba(37, 44, 97, 0.2);
}

.btn-verde:hover {
    color: var(--branco);
    background-color: #15a570;
    transition-duration: 0.4s;
    transform: translateY(-4px);
}

/* textos */

.text-white{
    color: var(--branco);
}

.text-bd-white{
    color: var(--branco);
    font-weight: bold;
}

.text-black{
    color: var(--preto);
}

.text-bd-black{
    color: var(--preto);
    font-weight: bold;
}

.text-blue{
    color: var(--blue);
}

.text-bd-blue{
    color: var(--blue); 
    font-weight: bold;
}

.text-bd-red{
    color: var(--red); 
    font-weight: bold;
}
.text-bd-brown {
    color: var(--brown);
    font-weight: bold;
}

.text-bd-gray {
    color:var(--gray);
    font-weight: bold;
}

.card-title {
    font-family: "Roboto";
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.c-icon {
    margin-top: 1px;
}

/* background-color */

.bg-cinza {
    background-color: var(--cinza-claro);
}

.bg-verde {
    background-color: var(--verde-claro);
}