.texto-section-principal h1,
.texto-section-sobre h1 {
    font-family: 'Inconsolata';
    font-weight: bold;
    font-size: 4.5rem;
    line-height: 58px;
    color: #0D0D0D;
}

.texto-section-principal p,
.texto-section-sobre p {
    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 28px;

    color: var(--cinza-medio);
}

.texto-aviaozinho {
    font-family: 'Inconsolata';
    font-weight: bold;
    color: var(--verde-principal);
}

.banner-home {
    width: 55%;
    margin-right: -50px;
}

/* configuração dos projetos */
.projetos{
    background-color: var(--branco-gelo);
    height: 107.5rem;
}
