

main {
    padding-top: 100px;
}

.texto-section-principal h1,
.texto-section-sobre h1 {
    font-family: 'Inconsolata';
    font-weight: bold;
    font-size: 4.5rem;
    line-height: 58px;
    color: #0D0D0D;
}

.texto-section-principal p,
.texto-section-sobre p {
    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 28px;

    color: var(--cinza-medio);
}

.texto-aviaozinho {
    font-family: 'Inconsolata';
    font-weight: bold;
    color: var(--verde-principal);
}

.banner-home {
    width: 55%;
    margin-right: -50px;
}

.btn-verde {
    font-size: 1.4rem;
    background-color: var(--verde-principal);
    color: var(--branco);
    font-family: 'Inder';
    box-shadow: 0px 3px 8px rgba(136, 144, 194, 0.25), 0px 7px 21px rgba(37, 44, 97, 0.2);
}

.btn-verde:hover {
    color: var(--branco);
    background-color: #15a570;
    transition-duration: 0.1s;
}

.div-segunda-imagem {
    position: relative;
    width: 563px;
    height: 318px;
}
.div-segunda-imagem div {
    position: absolute;
    border: var(--verde-principal) 3px solid;
    width: inherit;
    height: inherit;
    border-radius: 10px;
    top: -15px;
    left: -15px;
}

.card-curso{
    max-width: 9em;
}

.card {
    text-decoration: none;
    border-radius: 17.5px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.15);
    border: none;
}

.card-icon {    
    border-radius: 7px;
}

.cards-destaque{
    margin-top: 6%;
    padding-bottom: 4%;
}

.card-destaque{
    text-decoration: none;
}

.div-destaque-img {
    position: relative;
    width: 160px;
    height: 130px;
    margin: 0 5em;
}
.div-destaque-img div {
    position: absolute;
    border: var(--branco) 1px solid;
    width: inherit;
    height: inherit;
    border-radius: 10px;
    top: -15px;
    left: -15px;
}

.div-icon-eixo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 35px;
    height: 37px;
    border-radius: 8px;
    color: var(--branco);
}