main{
    font-family: 'Inder';
    padding-top: 150px;
}

.input-group {
    min-width: 350px;
    max-width: 600px;
    position: relative;
    background: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-left: 40%;
}

.input-group input {
    font-size: 1.4rem;
    border: none;
    border-radius: 20px;
}

.input-group input::placeholder {
    font-size: 1.4rem;
    position: absolute;
    left: 40px;
}

.input-group button {
    position: absolute;
    top: 3px;
    right: 40px;
}

.div-title{
    margin-bottom: 5%;
}

.title-projetos{
    font-size: 4.5rem;
}

.secao-projeto {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.card-sobre {
    margin-right: 20px;
}

.filtro-eixos {
    height: 40px;
    width: 100%;
}

.filtro-eixos div {
    
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--verde-claro);
    width: 110px;
    height: 36px;
    border-radius: 10px;
    cursor: pointer;
}

.filtro-eixos div:hover {
    background-color: var(--verde-principal);
    transition-duration: 0.2s;
}

.div-hashtags {
    margin-top: 50px;
    width: 100%;
    padding: 4px;
    border: 2px solid var(--cinza-claro);
    border-radius: 8px;
}

.div-hashtags button {
    font-size: 1.3rem;
    background-color: var(--verde-claro);
    padding: 0 4px;
    padding-right: 8px;
    border-radius: 8px;
}

.div-hashtags button:hover {
    background-color: var(--verde-principal);
    transition-duration: 0.2s;
}

.div-hashtags button img {
    width: 17px;
}

.div-cards-projetos {
    width: 100%;
    height: 80%;
}

.card-projetos {
    text-decoration: none;
    color: var(--preto);
    cursor: pointer;
    max-width: 278.95px;
    padding: 0%;
    height: 195px;
    background-color: var(--branco);
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-projetos:hover {
    color: var(--verde-principal);
}

.cp-bg-img {
    border-radius: 15px 15px 0 0;
    background-color: aliceblue;
    width: 100%;
    height: 126.15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.cp-text {
    padding-top: 8px;
    padding-left: 12px;
    text-align: left;
    line-height: 2px;
}

.cp-text h2 {
    font-family: 'Inter';
    font-size: 1.6rem;
    font-weight: 600;
}

.cp-text span {
    font-size: 1.2rem;
}

.div-icon-eixo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 35px;
    height: 37px;
    border-radius: 8px;
    color: var(--branco);
}