main {
    font-family: 'Inder';
    padding-top: 150px;
}

.div-segunda-imagem {
    position: relative;
    width: 25em;
    height: 23em;  
}

.div-segunda-imagem div {
    position: absolute;
    border: var(--preto) 1px solid;
    width: inherit;
    height: inherit;
    border-radius: 10px;
    top: -15px;
    left: -15px;
}

.div-segunda-imagem img {
    width: 25em;
    height: 23em;
}

@media (max-width: 450px){
    section{
        margin-bottom: 40%;
    }

    .card-map{
        margin-top: 5%;
    }

    .div-segunda-imagem {
        position: relative;
        width: 20em;
        height: 20em;
        margin: 10% 8%;
    }
    
    .div-segunda-imagem div {
        position: absolute;
        border: var(--preto) 1px solid;
        width: inherit;
        height: inherit;
        border-radius: 10px;
        top: -15px;
        left: -15px;
    }
    
    .div-segunda-imagem img {
        width: 20em;
        height: 20em;

    }
}

.paragrafo-sobre {
    font-family:"Inder" ;
}

.card-sobre{
    width: 30.9rem;
    height: 30.1rem;
}

.container-img{
    width: auto;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-img div img{
    width: 3em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.destaque {
    height: 47.5rem;
}

.text-destaques-sobre{
    font-size: 3.6rem;
}

.div-logo-destaque-sobre{
    width: 209px;
    height: 121px;
    margin: 0 25%;
}

.logo-destaque-sobre{
    width: 100%;   
}
